1. Use a more-intuitive box-sizing model *,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: Norse Bold;
  src: url(./font/Norse-Bold.otf);
}

body {
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  height: 100vh;
}
.picture {
  width: 40vw;
}

img {
  width: 100%;
  height: 100vh;
}
.form-content {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 60vw;
}

.message {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  /* border: 3px solid; */
}
.form {
  height: 40vh;
  background-color: #fff;
  /* border: 3px solid; */
}
form h3 {
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  gap: 15%;
  margin-bottom: 15px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}
input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px;
  /* font-size: 1rem; */
  outline: none;
}

input:focus {
  border: 1px solid #4a90e2;
  box-shadow: 0 0 3px rgba(74, 144, 226, 0.9);
}

input:placeholder-shown {
  border-color: #e5e7eb;
}

input:not(:placeholder-shown):invalid {
  border: 2px solid #dc3545;
}
input:valid {
  border: 2px solid #2ecc71;
}

.account-option {
  height: 25vh;
  /* border: 3px solid; */
}
.btn {
  border: none;
  background-color: #596d48;
  padding: 6px 8px;
}
